body {
    margin: 0;
    font-family:'Lora'Arial, sans-serif;
    background: linear-gradient(45deg, #003a74, #a50000);
    background-size: 300% 300%;
    animation: gradientAnimation 9s ease infinite;
    text-align: center;
    }

    @keyframes gradientAnimation {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }
    .emnav {
        display: flex;
        flex-wrap: wrap; 
        gap: 10px; 
        font-size: 20px;
        justify-content: flex-start;
        padding: 10px; 
        }
        
        .emnav a {
        text-decoration: none;
        color: black;
        padding: 10px 15px; 
        border-radius: 5px; 
        transition: background-color 0.3s ease; 
        }
        
        .emnav a:hover {
        background-color: #750000; 
        }


main {
    padding: 20px;
}
.anthem-text {
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.8;
    font-size: 1.2em;
}
.video-container {
    margin: 20px auto;
}
footer {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 0.9em;
}
footer {
    margin-top: auto;
    color: #fff;
    text-align: center;
    padding: 1rem;
}






.embarcelona-footer {
    color: white;
    padding: 20px 0;
}

.emfooter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.emfooter-logo img {
    max-width: 150px;
    margin-bottom: 10px;
}

.emfooter-links h4,
.emfooter-contact h4,
.emfooter-social h4 {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.emfooter-links ul {
    list-style: none;
    padding: 0;
}

.emfooter-links li {
    margin-bottom: 5px;
}

.emfooter-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.emfooter-links a:hover {
    color: #ffcc00;
}

.emfooter-contact p {
    margin: 5px 0;
}

.emfooter-social a {
    margin-right: 10px;
}

.emfooter-social img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.emfooter-social img:hover {
    transform: scale(1.2);
}

.emfooter-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #003366;
    margin-top: 20px;
}

.emfooter-bottom p {
    margin: 0;
    font-size: 14px;
}