
body {
    margin: 0;
    font-family: 'Lora'Arial, sans-serif;
    background-image: url('stadiumi 1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
  }
  
  .emintro-container {
    padding: 40px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  }
  .emimg{

  
    height: 100px;
    width: auto;
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 28px;
    }
  
    p {
      font-size: 16px;
      padding: 10px;
    }
  }
  .emcontact{
    display:flex;
    color: black;
    font-weight: bold;
  }
  .emfooter-contact h4{
    display: flex;
    justify-content: center;
    color:black;

  }
  
  .emnav {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    font-size: 20px;
    justify-content: flex-start;
    padding: 10px;  
    }
    
    .emnav a {
    text-decoration: none;
    color: black;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    

    }
    .emnav a:hover {
        background-color: #750000; 
        }
    .empage{
        display: flex;
        justify-content: center;
        font-size: 30px;

    }
    .empage a{
        text-decoration: none;
        color: black;
    }
    .empage a:hover{
        background-color:#750000;
    }
    #searchForm{
      display: flex;
      justify-content: flex-end;
      margin-top: 35px;
      margin-right: 15px;
      color: black;
      font-size: 20px;
    }
    button{
      border-radius: 15px;
      background-color: rgb(23, 23, 58);
      border: none;

    }
    input{
      border-radius: 20px;
      background-color:rgb(23, 23, 58) ;
      border: none;
    }